/*Global Styles*/
/* coolors generator: https://coolors.co/f6f1f1-ffffff-234332-216d45-62957a */
:root {
    --white: #ffffff;
    --snow: #f6f1f1;
    --darkest-green: #0d2b1b;
    --green: #216d45;
    --lightest-green: #90b6a2;
    --yellowgreen: #9ACD32;
  }

* {
    box-sizing: border-box;
}

body{
    background-color: var(--snow);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:0;
}
p{
    color: var(--darkest-green);
}

 /* --- Header --- */
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest-green);
    padding: 20px 30px 20px 0;
}

.header-name{
    color: var(--darkest-green);
    background-color: var(--snow);
    padding: 5px 1% 5px 5%;
    margin-left: 0;
    font-size: 32px;
    line-height: 1;
}
/* --- Navigation --- */
.nav-links {
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    font-size: 16px;
    display: flex;
}
.nav-links a{
    color: var(--white);
    background-color: var(--darkest-green);
    text-decoration: none;
}

.nav-links a:hover{
    color: var(--lightest-green);
    text-decoration: underline;
}

.nav-links ul {
    list-style-type: none;
    float: right;
    background-color: var(--darkest-green)
}
.nav-links ul li {
    margin:10px;
    display: inline-block;
    background-color: var(--darkest-green);
    text-transform: lowercase;
}

/* --- Hero Banner --- */
#hero-banner{
    /* using vh to set height of banner. 
    ref link: https://www.usu.edu/template/guide/elements/banners.cfm#:~:text=Height%20Configuration,content%20forces%20it%20to%20expand.*/
    background-image: url("../images/Green-and-Cream-Brushstroke_blank.png");
    background-size: cover;
    background-position: center;
    padding: 4% 0;
    min-height: 25vh;
    color: var(--green);
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* --- Cool Subtitle --- */
#hero-banner h2{
    background-color: var(--green);
    color: var(--snow);
    margin: 0;
    padding: 5%;
}

/* --- Main --- */
.row-section{ /* each row of information (about-me, work, contact-me) */
    margin: 25px 0%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.row-section h2{ /* this is the formatting for the row titles */
    flex: 0 0 20%;
    padding: 1%;
    margin: 2px;
    text-align: right;
    border-right: 4px solid var(--darkest-green);
    font-size: 24px;
    text-decoration: none;
    color: var(--darkest-green);
}
.content-container{ /* the blocks that have all the information */
    flex: 0 0 75%;
    margin-left: 2%;
}
/* --- About Me Picture --- */
#about-me div {
    display: inline-block;
}
.self-portrait {
    float:left;
    margin-right: 2%;
    width:20%;
    border-radius: 50%;
}

/* --- My Work Section --- */
#my-work{
    flex-direction: row;
}

.project-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
}
.feature-project, .project-card{
    border: 5px solid var(--green);
    position:relative;
    text-align: center;
    color: var(--snow);
    margin:3px;
    opacity: 0.5;
}
.feature-project:hover, .project-card:hover{
    border: 5px solid var(--green);
    color: var(--snow);
    opacity: 1;
    box-shadow: 0 0 5px var(--yellowgreen);
}
.project-card{
    max-width:49%;
}
.feature-image{
    width:100%;
    vertical-align: middle;
}
.project-title{
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: larger;
    bottom: 20px;
    padding:1%;
    background-color: var(--green);
    color: var(--snow);
    text-align: left;
}
 .feature-image{
     width:100%;
     vertical-align: middle;
 }
 .project-image {
     width:100%;
     height:100%;
     vertical-align: middle;
 }


/* --- Contact Me --- */
.contact-links ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contact-links ul li {
    margin: 12px;
    padding:2%;
    display: inline-block;
}
.contact-links a{
    font-size: 20px;
    color: var(--darkest-green);
}

.contact-links a:hover{
    cursor: pointer;
    padding: 5px;
    background-color: var(--green);
    box-shadow: 0 0 5px var(--yellowgreen); 
}

/* --- Footer --- */
footer p{
    font-size: smaller;
    text-align: center;
}

/* --- Media Classes --- */
@media screen and (max-width: 980px) { /*Tablet Size*/
    .header-name{
        padding: 5px;
        color: var(--snow);
        background-color: var(--darkest-green);
    }
    .main-header{
        text-align:center;
        padding:0;
        flex-direction: column;
    }
    .nav-links {
        margin:0;
        flex-direction: column;
    }
    .nav-links ul {
        flex-direction: row;
    }
    .project-card{
        max-width:100%;
    }
}
@media screen and (max-width: 600px) { /*Mobile Size*/
    .row-section h2{
        min-width: 20%;
        font-size: smaller;
    }
    .project-title {
        font-size: smaller;
    }
}